#!/bin/sh
anvil \
  --block-time ${BLOCK_TIME:-1} \
  --slots-in-an-epoch ${SLOTS_IN_EPOCH:-1} \
  --chain-id ${CHAIN_ID:-271828} \
  --host 0.0.0.0 \
  --port 8545 \
  --dump-state /tmp/state_out.json \
  --balance 1000000000 \
  --mnemonic "${MNEMONIC}" 